@model List<JobListing.Entities.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ManagementPanel/Views/Shared/_AdminLayout.cshtml";
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
<h2>Category List</h2>
<hr />
<br />
<table class="table table-bordered table-hover" id="myTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Category Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td><a href="/ManagementPanel/Category/Detail/@item.CategoryId">@item.CategoryName</a></td>
                <td>@Html.ActionLink("Edit", "Edit", new { area = "ManagementPanel", id = item.CategoryId }, new { @class = "btn btn-info" })</td>
                <td>@Html.ActionLink("Delete", "Delete", new { area = "ManagementPanel", id = item.CategoryId },new { onclick = "return confirm('Kategoriyi Silmek İstediğinize Emin misiniz ?');", @class="btn btn-danger" })</td>
            </tr>
        }
    </tbody>
</table>
<br />
<a href="/ManagementPanel/Category/New" class="btn btn-primary">New Category</a>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });</script>

